body{
    font-family: 'Rajdhani', sans-serif;
}

/* mains tyles */
.main{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(245, 255, 224);
    width: 1050px;
    margin: 0 auto;
}

.main-content{
    box-shadow: 6px 6px 20px rgba(141, 187, 34, 0.1);
    padding: 80px 90px;
}

.about{
    margin-bottom: 40px;
}
.about-name{
    font-style: normal; 
    font-weight: bold; font-size: 45px;
    line-height: 50px;
    margin-bottom: 25px;
}

.about-positio{
    font-style: normal; 
    font-weight: bold; 
    font-size: 20px;
    line-height: 17px;
    margin-bottom: 25px;
}

/*about styles*/

.progects{
    margin-bottom: 40px;
    font-size: 20px;
}

.title{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 0px;
}
.text{
    font-size: 20px;
}

.comp_1{
    margin-bottom: 5px;
}
.lang{
    margin-bottom: 5px;
    font-size: 30px;
}
.lang-1{
    font-size: 20px;
}
.int-1{
    font-size: 20px;
}
.int{
    margin-bottom: 5px;
    font-size: 30px;
}



.projects-item { 
    font-style: normal;
    font-weight: bold; 
    font-size: 14px;
    line-height: 24px;
}

.project{
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px;
    line-height: 24px;
    margin: 5px;

}
.project-link{
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px;
    line-height: 24px;
    color: black;
}

/*work styles*/

.work{
    margin-bottom: 10px;
}

/* sidebar styles */
.sidebar{
    background-color: #bae478;
    
}

.photo{
    margin-bottom: 20px;
}

/*education style*/
.educations{
    font-size: 25px;
    margin-bottom: 5px;
}

.university{
    font-size: 20px;
    margin-left: 20px;
}
.faculty{
    font-size: 20px;
    margin-left: 20px;
}
.special{
    font-size: 20px;
    margin-left: 20px;
}
.year{
    font-size: 15px;
    margin-left: 20px;
}

.side-bar{
    font-style: normal; 
    font-weight: bold; 
    font-size: 25px;
    line-height: 27px;
}
.C{ 
    font-size: 17px;
}
.E{ 
    font-size: 17px;
}
.G{ 
    font-size: 17px;
}

.contacts{
    margin-left: 40px;
    font-size: 22px;
}
.profile{
    margin-left: 20px;
    font-size: 22px;
}
.about-profile{
    font-style: normal; 
    font-weight: normal; 
    font-size: 17px;
    line-height: 24px;
    width: 200px;
    margin-left: 20px;
}

.tech-skills{
    margin-left: 40px;
}

.soft-skills{
    margin-left: 40px;
}


.contact-type{
    font-style: normal; 
    font-weight: bold; 
    font-size: 15px;
    line-height: 24px;
    color: black;
    margin-left: 5px;
}
.address-type{
    font-style: normal; 
    font-weight: bold; 
    font-size: 15px;
    line-height: 24px;
    color: black;
    margin-left: 5px;
}

.git-type{
    font-style: normal; 
    font-weight: bold; 
    font-size: 15px;
    line-height: 24px;
    color: black;
    margin-left: 5px;
}


.sidebar-title{
    font-style: normal; 
    font-weight: bold; 
    font-size: 22px; 
    line-height: 27px;
    margin-bottom: 2px;
}

.ts_list{
    padding: 0;
    margin-left: 22px;
    font-size: 17px;
}
.ss_list{
    padding: 0;
    margin-left: 22px;
    font-size: 17px;
}