<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rajdhani:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    <title>RESUME</title>
</head>
<body>
    
    <!--Main-->
    <div class="main">
        <!--Main content-->
        <div class="main-content">
            <!--About me-->
            <div class="about">
            <h1 class="about-name">Anastasia Dmytryshyn</h1>
            <h2 class="about-positio">TRAINEE JAVASCRIPT DEVELOPER</h2>
            </div>
             <!--Education-->
             <div class="educations">
                <h3>Education</h3>
                <h1 class="university">Ivan Franko National University</h1>
                <h1 class="faculty">Faculty of electronics and computer technologies</h1>
                <h1 class="special">Software engineer</h1>
                <p class="year">September 2022 - June 2026   |   Ukraine</p>
            </div>
            <!--Work-->
            <div class="work">
                <h3 class="title">Work Experience</h3>
                <!--Text-->
                <div>
                    <ul class="text">
                        <li>Writing console programs using algorithms, sorting methods and logical operations.</li>
                        <li>Working with the database.</li>
                        <li>Writing primitive websites. </li>
                    </ul>
                </div>
                <!--Languages-->
                <div> 
                    <h4 class="lang">Languages</h4>
                    <ul class="lang-1">
                        <li>Ukrainian - Native  </li>
                        <li>English - Pre-intermediate</li>
                        <li>German - Elementary </li>
                        <li>Polish - Elementary </li>
                    </ul>
                </div>
                <!--Interests-->
                <div>
                    <h4 class="int">Interests </h4>
                    <ul class="int-1">
                        <li>Boxing </li>
                        <li>Skiing</li>
                        <li>Traveling </li>
                    </ul>
                </div>
            </div>
            <!--Progects-->
            <div class="progects">
            
                <h3 class="title">Projects</h3>
                <ol>
                    <li class="projects-item">
                    <span class="project">
                        <a href="https://cikavo-znaty.com/142-ckav-fakti-pro-kotv-html/" class="project-link">https://cikavo-znaty.com/142-ckav</a>
                        ..................
                        [ HTML ]
                    </span>
                    </li>
                    <li class="projects-item">
                    <span class="project">
                        <a href="https://uanimals.org/how-to-help/?regular&utm_source=search&utm_medium=cpc&utm_campaign=search_uanimals_ukraine&utm_term={%D0%BF%D1%80%D0%B8%D1%82%D1%83%D0%BB%D0%BE%D0%BA%20%D0%B4%D0%BB%D1%8F%20%D1%82%D0%B2%D0%B0%D1%80%D0%B8%D0%BD}&gclid=CjwKCAjw_MqgBhAGEiwAnYOAesH9w4B7_PtfpGcZ1WyQ94oZo2DlKwINtnjmLrrEW1ZZFpQmv1ghfxoCO5kQAvD_BwE" class="project-link">https://uanimals.org/how-to-help/?</a>
                        .........
                        [ JavaScript ]
                    </span>
                    </li>
                    <li class="projects-item">
                    <span class="project">
                        <a href="https://lviv.travel/" class="project-link">https://lviv.travel/</a>
                        ...............
                        [ Java ]
                    </span>
                    </li>
                </ol>
            </div>
            
        </div>
        <!--Side bar-->
        <aside class="sidebar">
            <img width="300" src="img/Resumefoto.JPG" alt="user foto" class="photo">
            <!--Contacts-->
            <div class="contacts">
                <h3 class="sidebar-title">Contacts:</h3>
                <div>
                    <p>
                        <span class="C">Contact number:</span>
                        <a href="tel:+380960567917" class="contact-type">+38 096 056 79 17</a>
                    </p>
                    <p>
                        <span class="E">Email:</span>
                        <a href="mailto:nekleeva@gmail.com" class="address-type">nekleeva@gmail.com</a>
                    </p>
                    <p>
                        <span class="G">GitHub:</span>
                        <a href="https://github.com/nekleevaN"class="git-type" >https://github.com/nekleevaN</a>
                    </p>
                </div>
            </div>
            <!--Profile-->
            <div class="profile">
                <h3 class="profile">Profile</h3>
                <p class="about-profile"> Innovative, creative and professional. I am a cheerful, ambitious and resilient girl. I love my job and achieving milestones working with a team.
                </p>
                
            </div>
            <!--Tech skills-->
            <div class="tech-skills">
                <h3 class="sidebar-title">Tech skills</h3>
                <ul class="ts_list">
                    <li>HTML(newbie)</li>
                    <li>JavaScript(newbie)</li>
                    <li>GIT</li>
                    <li>C(newbie)</li>
                    <li>C++(newbie)</li>
                </ul>
            </div>
            <!--Soft Skills-->
            <div class="soft-skills">
                <h3 class="sidebar-title">Soft Skills</h3>
                <ul class="ss_list">
                    <li>Time management</li>
                    <li>Networking</li>
                    <li>Conflict resolution</li>
                    <li>Teamwork</li>
                </ul>
            </div>
        </aside>
    </div>

</body>
</html>